{% extends "base/base.html" %}
{% load static %}
{% block content %}

<div class="container mt-5">
  <h2 class="text-center">Your Payment is Paid</h2>

    <!-- component -->
    <div class="my-5 d-flex align-items-center justify-content-center">
        <div class="mb-5 bg-white shadow p-4 col-12 col-md-6 mx-auto text-center rounded-3">
            <!-- Success Icon (SVG) -->
            <svg viewBox="0 0 24 24" class="text-success mb-4" style="width: 50px; height: 50px;">
                <path fill="currentColor"
                    d="M12,0A12,12,0,1,0,24,12,12.014,12.014,0,0,0,12,0Zm6.927,8.2-6.845,9.289a1.011,1.011,0,0,1-1.43.188L5.764,13.769a1,1,0,1,1,1.25-1.562l4.076,3.261,6.227-8.451A1,1,0,1,1,18.927,8.2Z">
                </path>
            </svg>
            
            <!-- Payment Done Message -->
            <h3 class="h5 text-dark font-weight-bold">Payment Done!</h3>
            <p class="text-muted mb-3">Thank you for completing your secure online payment.</p>
            <p class="mb-5">Have a great day!</p>
    
            <!-- Back Button -->
            <div class="d-grid">
                <a href="{% url 'user_dashboard:dashboard' %}" class="btn btn-primary btn-block rounded-3">
                    GO TO DASHBOARD
                </a>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}