{% load static %}
<!DOCTYPE html>
<html lang="en">


    {% include "./header.html" %} 
    <body>
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary"
                style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Topbar End -->

        <!-- Navbar & Hero Start -->
        <div class="container-fluid position-relative py-4 " style="background-color: #14141F;">
            <nav
                class="navbar navbar-expand-lg text-light px-4 px-lg-5 py-3 py-lg-0">
                <a href class="navbar-brand p-0">
                    <h1 class="text-primary m-0"><i
                            class="fa fa-map-marker-alt me-3"></i>Tourist</h1>
                    <!-- <img src="{% static 'img/logo.png' %}" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0 ">
                        <a href="" class="nav-item nav-link active">Home</a>
                        <a href="" class="nav-item nav-link text-light">About</a>
                        <a href="" class="nav-item nav-link text-light">Services</a>
                        <a href="" class="nav-item nav-link text-light">Packages</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle text-light"
                                data-bs-toggle="dropdown ">Pages</a>
                            <div class="dropdown-menu m-0">
                                <a href="" class="dropdown-item text-light">Destination</a>
                                <a href="" class="dropdown-item text-light">Booking</a>
                                <a href="" class="dropdown-item text-light">Travel
                                    Guides</a>
                                <a href="" class="dropdown-item text-light">Testimonial</a>
                                <a href="" class="dropdown-item text-light">404
                                    Page</a>
                            </div>
                        </div>
                        <a href="" class="nav-item nav-link text-light ">Contact</a>
                    </div>
                    <a href class="btn btn-primary rounded-pill mx-3 py-2 px-4">Register</a>
                </div>
            </nav>
 
        </div>


        {% block content %} 

        {% endblock %} 


        {% include "./footer.html" %} 
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i
                class="bi bi-arrow-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/wow/wow.min.js' %}"></script>
        <script src="{% static 'lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
        <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
        <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
        <script
            src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'js/main.js' %}"></script>
    </body>

</html>